.exploreMenu {
  text-align: center;
  padding: 40px 0;
    animation: fadeIn 3s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.menuGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-bottom: 70px;
}

.menuItem {
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.menuItem:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.name {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}
.text{
font-size: 22px;
}.menuItem {
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.menuItem:hover {
  transform: scale(1.05);
}

.active {
  border: 2px solid  rgb(175, 105, 24);;
  box-shadow: 0 4px 10px rgba(255, 99, 71, 0.3);
}

.image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.name {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}
.exploreMenu hr{
  width: 100%;
    height: 2px;
   
    background-color: grey;
    border: none;
}

@media (max-width: 768px) {
  .menuGrid {
    gap: 15px;
  }

  .menuItem {
    max-width: 140px;
  }

  .image {
    height: 100px;
  }

  .name {
    font-size: 0.9rem;
  }
}