.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
width: 170px;
}

.navbarmenu{
display: flex;
list-style: none;
gap: 20px;
color: #49557e;
font-size: 18px;
}
.navbarright{
display: flex;
align-items: center;
gap: 40px;
}
.navbar button{
    background: transparent;
    font-size:16px;
    color: #49557e;
    border: 1px solid rgb(175, 105, 24);
    padding: 10px 30px ;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
    cursor: pointer;
    transition:0.3s ;
    -webkit-transition:0.3s ;
    -moz-transition:0.3s ;
    -ms-transition:0.3s ;
    -o-transition:0.3s ;
}
.navbar button:hover{
    background-color: rgb(175, 105, 24);
    color: #fff;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid  rgb(175, 105, 24);
}

.navbar a{
 text-decoration: none;
    cursor: pointer;
    color: #49557e;
}

@media (max-width: 992px) {
  .navbar .logo {
    width: 120px;
  }

  .navbarmenu {
    gap: 15px;
    font-size: 16px;
  }

  .navbarright {
    gap: 25px;
  }

  .navbar button {
    padding: 8px 20px;
    font-size: 14px;
  }
}


@media (max-width: 768px) {
  .navbarmenu {
    display: none; 
  }

  .navbarright {
    gap: 15px;
  }

  .navbar .logo {
    width: 100px;
  }

  .navbar button {
    padding: 8px 18px;
    font-size: 13px;
  }
}


@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .navbar .logo {
    width: 90px;
  }

  .navbar button {
    width: 100%;
    max-width: 200px;
  }
}