.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
margin-top: 100px;
}

.footerContent{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;

}
.imgLogo{
    width: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.footerContentLeft, .footerContentCenter, .footerContentRight{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}
.footerSocialIcons img{
width: 50px;
margin-right: 15px;

}

.footerContentLeft li, .footerContentCenter li, .footerContentRight li{
   list-style: none;
margin-bottom: 10px;
cursor: pointer;
}

.footerContentCenter h2, .footerContentRight h2{
color: white;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}

@media (max-width: 768px) {
  .footer {
    padding: 60px 5vw 20px;
    gap: 20px;
  }

  .footerContent {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .footerContentCenter h2,
  .footerContentRight h2 {
    font-size: 1.1rem;
  }

  .footerSocialIcons img {
    width: 30px;
  }

  .footerContentLeft li, .footerContentCenter li, .footerContentRight li{

margin-bottom: 5px;

}
}